body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #657079;
}

p {
	font-size: 20px;
}

h3 {
	font-size: 30px;
}

h2 {
	font-size: 40px;
}

td {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

td, th {
    border: 2px solid black;
}

/* CSS FOR BOOTSTRAP ELEMENTS */

col-sm-6{
	text-decoration: none;
	text-align: center;
	color: #000000;
}

/* CSS FOR LINKS*/

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
    color: #000000;
}

a:active {
    text-decoration: underline;
    color: #000000;
}

/* CSS FOR INPUT FIRLDS */

input {
    width: 400px;
    padding: 6px 10px;
    margin: 20px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
    font-size: 20px;
    text-align: center;
    border: 2px solid #657079;
}

input[type=text] {
    padding:5px; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {border: 2px solid #657079; outline:0;}

/* CSS FOR BUTTONS */

button:active {
	background-color: #FF5E5B;
	color: #ffffff;
}

button:focus {outline:0;}


/* This is for Mobile Devices */

@media only screen and (max-device-width: 1024px) {
    button {
        position: absolute;
    }
}






.input_box{
	text-align: center;
	padding-bottom: 20px;
	margin: auto;
  width: 25%;
  border:2px solid #000000;
}

.submit {
	background-color: #ffffff;
	color: #657079;
	border:2px solid #657079;
	border-radius: 5px;
	text-decoration: none;
	margin: auto;
  width: 15%;
  margin-bottom: 20px;
}

.submit2 {
  background-color: #ffffff;
  color: #657079;
  border:2px solid #657079;
  border-radius: 5px;
  text-decoration: none;
  margin: auto;
  width: 30%;
  margin-bottom: 20px;
}
/* CSS FOR CONTAINERS */

.margin {
	margin-bottom: 45px;
}

.bg-1 { 
      background-color: #FF5E5B;
      color: #000000;
}
.bg-2 { 
      background: url('images/pattern-2.png') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

}
.bg-3 { 
      background: url('images/pattern-2.png') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
.bg-4 { 
      background-color: #2f2f2f; /* Footer */
      color: #fff;
}
.container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
}

/* CSS FOR GAME */

.instructions {
  background-color: #ffffff;
  color: #657079;
  border:2px solid #657079;
  border-radius: 5px;
  text-decoration: none;
  margin: auto;
  width: 20%;
  margin-bottom: 20px;
}
.game {
  height: 600px;
  border-radius: 10px;
  border: 2px solid #000000;
  margin: auto;
  width: 90%;
  background: url('images/transparent.png') no-repeat center center fixed;  /* ADD TRANSPARENCY TO THE BACKGROUND OF THE BOX */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 10px;
}

.WordTitle {
  font-size: 40px;
  padding-top: 10px;
  color: #657079;
  text-decoration: underline;
}

.gamescore{
  border-radius: 10px;
  border:2px solid #000000;
  margin: auto;
  width: 20%;
  text-align:center;
}

.points{
  font-size: 30px;
  color: #657079;
}

.score{
  font-size: 20px;
  color: #657079;
  padding-bottom: 3px;
}

/* CSS FOR LEADERBOARD */

.leadertitle{
  text-decoration: underline;
  color: #657079;
}

.leader {
  text-align: center;
  width: 70%;
  margin: auto;
  padding: auto;
  font-size: 23px;
  background: url('images/transparent.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* CSS FOR NAV BAR */

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav  li a:hover {
      color: #1abc9c !important;
}

.navbar-header {
	font-size: 16px;
}

.img-responsive-margin { 
    width: 25%;
    display: block;
    margin: auto;
}

.social{
    font-size: 40px;
}

.website{
	text-decoration: none;
}

.title {
    background: url('images/pattern-2.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   font-size: 30px;
   text-align: center;
}
}











